/vendor
/.vagrant
phpunit.xml
/Homestead.yaml
/Homestead.json
/after.sh
/aliases
/mysqldump.sql.gz
/mysql_backup
/postgres_backup
/user-customizations.sh
.editorconfig
.gitattributes
*.md
.travis.yml
bin/homestead
composer.json
composer.lock
Homestead.yaml.example
*.bat
*.sh
*.txt
*.dist
resources/aliases
resources/Homestead.json
resources/localized/aliases
resources/Homestead.yaml
resources/localized/Vagrantfile
scripts/homestead.rb
src/MakeCommand.php
src/Settings/HomesteadSettings.php
src/Settings/JsonSettings.php
src/Settings/YamlSettings.php
src/Traits/GeneratesSlugs.php
tests/InitScriptTest.php
tests/MakeCommandTest.php
tests/Settings/JsonSettingsTest.php
tests/Settings/YamlSettingsTest.php
tests/Traits/GeneratesTestDirectory.php
Vagrantfile
code/config/database.php
private_key
private_key.pub
